body{
    background: #dedede;
    font-family: arial;
    margin: 0;
    padding: 0;
}
.dropdwn{
    margin: 0 auto;
}
nav{
    
    background: #2c3e50;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    z-index: 1;
}

nav h3
{
    color:white;
}

.button
{
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
    color: white;
}

nav ul{
    padding: 0;
    margin: 0;
    
}
nav ul li{
    background: #2c3e50;
    position: relative;
    list-style: none;
    display: inline-block;;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    
    font-size: 20px;
    transition: .5s;
}
nav ul li a:hover{
    background: #243342;
}

nav ul ul{
    position: absolute;
    top: 60px;
    line-height: 20px !important;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    line-height: 20px !important;
}

nav ul li form{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    transition: .5s;
}
nav ul li form select{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    transition: .5s;
}



.body img{
    width: 100%;
    margin: 20px 0;
    max-width: 700px;
}
.body p{
    text-align: justify;
}

.hidden1{
    display : none;
}

.hidden2{
    display : none;
}

.hidden3{
    display : none;
}

.contact-info{
    display: none;
}

.jumbotron
{
    background-color: white !important;
    margin-bottom: 0 !important;
}

.card-row
{
    background-color: #243342;
    
   
}

.table
{
    background-color: #2c3e50 !important;
}
.card-deck
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.card
{
    background-color: #2c3e50 !important;
}

.card img
{
    background-color: white;
}

#newpost1, #newpost2 , #newpost3 {
    background-color:  #2c3e50;
    text-align: center;
    height: 130px;
    font-family: arial;
    color: white;
    font-size: 20px;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    border: solid 1px white;
    border-radius: 10px;
    word-spacing: 5px;
    line-spacing : 5px;
    padding: 5px 5px 5px 5px;
}

.about {
    background-color: #2c3e50;
    text-align: center;
    color: white;
    font-family: arial;
    border: solid 1px white;
    border-radius: 10px;
    height: 1100px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5px 5px 5px 5px;
}
.about p{
    text-align: center;
}

#stats-card{
    margin-top: 5% !important;
    margin-bottom: 5%;
}

.formovanie{
    background-color: lightslategray;
    border: solid 1px white;
    margin-left: 5%;
    margin-right: 5%;
}
.formovanie label,input,small {
   alignment: center;
}
#move{
    margin-left: 10%;
}

.colon-div{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.colona {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.colon-div:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
  }
  
  img
  {
      object-fit: contain !important;
  }
  
  .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  
  .box:hover::after {
      opacity: 1;
  }
  .button
{
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
    color: white;
}